body{
    text-align: center;
}

ul{
    text-align: center;
    display: flex;
    padding:0 42%;
}

li{
    margin: 0 10px;
}

div.cat {
    text-align: center;
    border-image-width: auto;
    display: block;
    float: right;
}

.cat img{
    width: 200px;
    border: 25px solid black;
}

div.dog {
    text-align: center;
    border-image-width: auto;
    display: block;
    float: left;
}

div.pig {
    text-align: center;
    border-image-width: auto;
    display: block;
    float:none;
}

.dog img{
    width: 180px;
    border: 25px solid black;
}
.pig img{
    width: 200px;
    border: 25px solid black;
}

div.pig li{
   text-decoration: underline;
}

div.cat li{
    text-decoration: underline;
}

div.dog li {
    text-decoration: underline;
}

div.dog ol{
    background-color: aqua;
    text-align: center;
}

div.cat ul{
    background-color: pink;
    text-align: center;
}

div.pig ol{
    background-color: blanchedalmond;
}

@media screen and (max-width:700px){
    body{
        background-color: pink;
        text-decoration: line-through;
        color: blue;
    }
}

@media screen and (max-width:1200px){
    div{
        background-color: brown;
        text-decoration: double;
        color: aqua;
    }
}